body {
    background-color: rgb(80, 80, 80);
}

h1 {
    color: white;
    text-align: center;
    font-size: 100px;
    margin: 45px;
}

span {
    color: red;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid white;
    margin: 1em 1;
    padding: 0;
}

.first {
    display: flex;
    padding: 5px;
    background-color: white;
    flex-wrap: nowrap;
    height: auto;
}

.first > div {
    background-color: red;
    flex-grow: 1;
    margin: 5px;
    align-self: center;
    font-size: 30px;
    text-align: center;
    padding: 27.5px;
}
